<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand fs-3" href="#">Territorios</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link fs-3 disponibles"
            routerLink="/disponibles"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Disponibles</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link fs-3 devolver"
            routerLink="/return"
            routerLinkActive="active"
            >Devolver</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link fs-3 añadir"
            routerLink="/add"
            routerLinkActive="active"
            >Añadir</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link fs-3 editar"
            routerLink="/edit"
            routerLinkActive="active"
            >Editar</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
